<div class="page-container">
  <img src="./../../../assets/fundo.jpg" alt="Imagem" class="background-image">
<mat-card class="card">
  <h1 class="title">Recuperação de senha</h1>
  <span>Informe seu email de cadastro para receber as instruções para mudar sua senha</span>

  <form [formGroup]="emailForm" (ngSubmit)="recoverPassword(emailForm.value.email)">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>

    <div class="button-column">
      <button mat-raised-button color="primary" style="margin-bottom: 10px;" type="submit">Recuperar minha senha</button>
      <button mat-button (click)="onRecover()" class="link">Voltar</button>
    </div>

    <p class="error">{{ error }}</p>
  </form>
</mat-card>
</div>
