h4 {
  margin: 10px 0 15px 12px;
}

.total {
  font-size: 3em;
  padding-left: 25px;
}

.mat-icon,
.description {
  color: green;
  font-size: 2em;
}

.mat-icon {
  position: relative;
  padding: 0 20px;
  top: 5px;
}
