<div class="page-container">
  <img src="https://storage.cloud.google.com/storage-acervo/fundo.jpg" alt="Imagem" class="background-image">

  <mat-card class="card">
    <h2 class="title">Informe sua nova senha</h2>

    <form [formGroup]="passForm" (ngSubmit)="saveNewPassword()">

      <div class="password" style="display: flex; flex-direction: column;">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Confirmar senha</mat-label>
          <input matInput formControlName="confirmation" type="password" [type]="hide ? 'confirmation' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Mostrar Senha'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
      </div>

      <div class="button-row">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-raised-button color="accent" type="submit" routerLink="/auth-login">Cancelar</button>

      </div>

      <p class="error">{{ error }}</p>
    </form>
  </mat-card>
</div>

<div id="footer">
  created by <a href="https://www.linkedin.com/in/jean-fernandine">@Jean Fernandine</a>
</div>

