
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2px" class="stats-cards">
  <mat-card fxFlex="20">
      <app-widget-card label="Estudos Documentais" total="151" percentage="91.5" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="20">
      <app-widget-card label="Existência De Classificação" total="57" percentage="34.5" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="20">
      <app-widget-card label="Análise Jurídica" total="102" percentage="61.8" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="20">
    <app-widget-card label="Presente no Doc. Auxiliar" total="57" percentage="34.5" [data]="cards"></app-widget-card>
</mat-card>
<mat-card fxFlex="20">
  <app-widget-card label="Existência de GED" total="48" percentage="29" [data]="cards"></app-widget-card>
</mat-card>
</div>
<div>
  <app-widget-area [data]="bigChart"></app-widget-area>
</div>
  <mat-card>
    <mat-toolbar color="primary" class="toolbar">
      Levantamento de acervo
  </mat-toolbar>

    <app-documents-list
    [data]="documents"
></app-documents-list>
<br>

<mat-divider></mat-divider>
<br>

<div fxLayout="row">
  <div class="position-documents" fxFlex="65">
<div>
  <app-digital
  [data]="documents"
></app-digital>
</div>

<div style="margin-top: 20px;">
  <app-physical
  [data]="documents"
></app-physical>
</div>

    </div>
    <div fxFlex="35">
        <app-widget-pie [pie]="pieChart"></app-widget-pie>
    </div>
</div>
</mat-card>
<br>
<br>

