mat-card {
  max-width: 95%;
  margin: 2em auto;
  text-align: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 95%;
display: flex;
margin: 2em auto;

}
