.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

table {
  width: 100%;
}
.mat-table {
  overflow: auto;
  max-height: 800px;
}

.column-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.column-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
