<div class="page-container">
  <img src="./../../../assets/fundo.jpg" alt="Imagem" class="background-image">

  <mat-card class="card">
    <h1 class="title">Criar Conta</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="firstname" type="text">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Sobrenome</mat-label>
        <input matInput formControlName="lastname" type="text">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>email</mat-label>
        <input matInput required email formControlName="email" type="text">
      </mat-form-field>

      <div class="password" style="display: flex;">
        <div style="flex: 1; margin-right: 5px;">
          <mat-form-field appearance="outline" class="form-field" hintLabel="Mínimo de 8 caracteres">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
        </div>
      </div>

      <div class="button-row">
        <button mat-raised-button color="primary" type="submit">Cadastrar</button>
        <button (click)="onReturn()" mat-raised-button color="accent" type="submit">Voltar</button>

      </div>
    </form>
  </mat-card>
</div>

<div id="footer">
  created by <a href="https://www.linkedin.com/in/jean-fernandine">@Jean Fernandine</a>
</div>
